<ion-header no-border no-shadow>
  <ion-toolbar color="medium" fixed style=" height: 60px; margin: 0px; padding: 0px; background-color: blue;">
    <ion-title>
     
  <ion-toolbar className="sites-bar" color="medium" padding-bottom translucent >
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="navigateTo(currentPath + '/map')">
        Temporary Sites
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateTo(currentPath + '/map')">
        Permanent Sites
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
    </ion-title>
    <ion-buttons class="show-md-up hide-xs-only hide-sm-only" slot="end">
      <ion-button fill="outline" color="light" (click)="navigateTo(currentPath + '/map')">
        {{ 'VIEW_ON_MAP' | translate }}
      </ion-button>
      <ion-button fill="solid" color="light" (click)="onAddPlaceButtonTouched()">
        {{ 'ADD_PLACE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #container class="scroll" scrollX="true" scrollEvents="true" padding>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_NETWORK' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="map" [text]="'EMPTY_PLACES' | translate">
  </empty-view>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="show-xs-only hide-md-up">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="navigateTo(currentPath + '/map')">
        <ion-icon name="map" color="medium"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onAddPlaceButtonTouched()">
        <ion-icon name="create" color="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-content>
    <div id="map"></div>
  </ion-content>
  <!-- <ion-row >
    <div>Hello</div>
    <div>
  <ion-grid align-items-end>

    <ion-row *ngIf="isLoadingViewVisible">
      <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" *ngFor="let item of skeletonArray">
        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '50%', height: '10px', 'border-radius': '0' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row> -->
    
    <!-- <ion-content>
      <ion-grid class="fullscreen" no-padding fixed>
        <ion-row class="fullscreen" justify-content-center>
          <ion-col class="fullscreen" size-xs="12" size-md="8" size-lg="8">
            <div #map class="map"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content> -->

    <!-- <ion-row [@staggerIn]="places.length">
      <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" float-bottom *ngFor="let place of places">
        <ion-card class="shadow" no-margin margin-bottom color="light" (click)="onPlaceTouched(place)">
          <div class="bg-img" defaultImage="./assets/img/placeholder1.png" [lazyLoad]="place.image?.url()"
            [scrollObservable]="container.ionScroll">
          </div>
          <ion-card-content>
            <ion-row no-padding>
              <ion-col size="8">
                <div text-nowrap>
                  <h3 class="bold ellipsis">{{ place.title }}</h3>
                  <star-rating [starType]="'svg'" [size]="'medium'" [readOnly]="true" [showHalfStars]="false" [rating]="place.rating">
                  </star-rating>
                  <ion-text color="medium">
                    <span class="bold text-small">{{ place.category?.title }}</span>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="4" text-end align-self-end>
                <ion-label color="medium" *ngIf="params.nearby">
                  <small class="bold">
                    {{ place.distance(params.location, params.unit) }}
                  </small>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-row> -->

  <!-- <ion-infinite-scroll (ionInfinite)="onLoadMore($event)" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content> -->