ion-card {

    &.card-category {
        width: 100px;
    }

    &.card-place {
        width: 150px;
    }

    ion-card-content {
        padding: 4px;
    }
}

ion-slides {

    --bullet-background: var(--ion-color-light);
    --bullet-background-active: var(--ion-color-primary);

    ion-slide img {
        display: block;
        width: 100%;
    }

    .slide-img {
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        width: 100%;
        height: 250px;
    }
}

ion-searchbar {
    --background: rgba(var(--ion-color-primary-rgb,0,0,0),0.07);
}

ion-row[nowrap] {
    overflow: hidden;
}

ion-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}